<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
  .Heading{
        text-align: center;
    text-decoration: underline;
    font-size: 30px;
  }
  .btn1{
        margin-left: 10%;
  }
</style>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">

  <h3 class="Heading">Angular Demo App </h3>
    
    <button type="button" class="btn btn-info btn-sm btn1" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div>
    <br><br>
    <p class="btn1">{{EnterText}}</p> 

    </div>
    <br><br><br>
    <button type="button" class="btn btn-info btn-sm btn1" ng-click="ToRedirect()">Goto Next Page</button>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Input something in the input box:</p>
            <p>Name : <input type="text" ng-model="textField" placeholder="Enter name here"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>


  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope,$window) {
      $scope.textField ="";
      $scope.closeModal =  function(){
       $scope.EnterText = 'Your entered text was : '+ $scope.textField ;
     }

     $scope.ToRedirect =  function(){
      var url = "Home.html";
        $window.location.href = url;
     }

   });
 </script>
</body>
</html>